@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme{
   --color-regal-blue: #243c5a;
   --color-nft-dark: #24252D;
   --color-nft-gray-1: #E3E1E3;
   --color-nft-gray-2: #888888;
   --color-nft-gray-3: #4F4F4F;
   --color-nft-black-1: #2D2E36;
   --color-nft-black-2: #1B1A21;
   --color-nft-black-3: #2A2D3A;
   --color-nft-black-4: #24252D;
   --color-nft-red-violet: #DA18A3;
   --color-file-active: #2196f3;
   --color-file-accept: #00e676;
   --color-file-reject: #ff1744;
   --color-overlay-black: rgba(0, 0, 0, 0.8);
   --font-poppins:"Poppins", sans-serif;
   --spacing-65: 65px;
   --spacing-155: 155px;
   --spacing-190: 190px;
   --spacing-215: 215px;
   --spacing-240: 240px;
   --spacing-256: 256px;
   --spacing-300: 300px;
   --spacing-327: 327px;
   --spacing-557: 557px;
   --flex-2: 2 2 0%,
}

.nft-gradient {
  background: linear-gradient(101.12deg, #EB1484 27.35%, #C91CC3 99.99%, #C81CC5 100%, #C81CC5 100%);
}

.white-bg {
   background: rgba(255, 255, 255, 0.2);
}

.nav-h {
   height: calc(100vh - 66px);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
   display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
   scroll-behavior: smooth;
   -ms-overflow-style: none;  /* IE and Edge */
   scrollbar-width: none;  /* Firefox */
}

.checkbox {
   opacity: 0;
   position: absolute;
}
 
.label {
   transform: scale(1.5);
}
 
.ball {
   top: 2px;
   left: 2px;
   transition: transform 0.2s linear;
}
 
/*  target the elemenent after the label*/
.checkbox:checked + .label .ball{
   transform: translateX(16px);
}
 
.fa-moon {
   color: pink;
   font-size: 9px;
}
 
.fa-sun {
   color: yellow;
   font-size: 9px;
}

.animated {
   -webkit-animation-duration: 1s;
   animation-duration: 1s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
   -webkit-animation-duration: 500ms;
   animation-duration: 500ms;
}

.fadeIn {
   -webkit-animation-name: fadeIn;
   animation-name: fadeIn;
}

.flexCenter {
   display: flex;
   justify-content: center;
   align-items: center;
}

.flexBetween {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.flexStart {
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
}

.flexStartCenter {
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.flexBetweenStart {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
}

.flexCenterStart {
   display: flex;
   justify-content: center;
   align-items: flex-start;
}

@keyframes fadeIn {
   from {
       opacity: 0;
   }

   to {
       opacity: 1;
   }
}

